<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script type="text/javascript">
        function OnLoadFunc() {
            location.href = "/Manager/Login/";
        }
    </script>
</head>
<body onload="OnLoadFunc();">
    <div></div>
</body>
</html>
