/*!important;*/
body, html {
    font-family: 微软雅黑;
    font-size: 13px;
    height: 100%;
    width: 100%;
}
body, html, dl, ul, li, dd, span, img, div, a, h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
    border: 0px;
}
body {
    margin: 0px auto;
}
table, tr, th, td {
    border-collapse: collapse;
    border-spacing: 0px;
}
ul {
    list-style: none;
}
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}
a {
    cursor: pointer;
}
::-webkit-scrollbar {
    width: 3px;
    height: 5px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
    background-color: #19222A;
}
::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

/*     xcConfirm 样式开始     */
.xcConfirm .xc_layer{position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: #666666; opacity: 0.5; z-index: 2147000000;}
.xcConfirm .popBox{position: fixed; left: 50%; top: 50%; background-color: #ffffff; z-index: 2147000001; width: 570px; height: 300px; margin-left: -285px; margin-top: -150px; border-radius: 5px; font-weight: bold; color: #535e66;}
.xcConfirm .popBox .ttBox{line-height: 30px; padding: 14px 30px; border-bottom: solid 1px #eef0f1;overflow:hidden;}
.xcConfirm .popBox .ttBox .tt{font-size: 18px; display: block; float: left; height: 30px; position: relative;}
.xcConfirm .popBox .ttBox .clsBtn{display: block; cursor: pointer; width: 12px; height: 12px; position: absolute; top: 22px; right: 30px; background: url(Static/xc-confirm-icons.png) -48px -96px no-repeat;}
.xcConfirm .popBox .txtBox{margin: 40px 100px; height: 100px; overflow: hidden;}
.xcConfirm .popBox .txtBox .bigIcon{float: left; margin-right: 20px; width: 48px; height: 48px; background-image: url(Static/xc-confirm-icons.png); background-repeat: no-repeat; background-position: 48px 0;}
.xcConfirm .popBox .txtBox p{ height: 84px; margin-top: 16px; line-height: 26px; overflow-x: hidden; overflow-y: auto;}
.xcConfirm .popBox .txtBox p input{width: 364px; height: 30px; border: solid 1px #eef0f1; font-size: 18px; margin-top: 6px;}
.xcConfirm .popBox .btnArea{border-top: solid 1px #eef0f1;}
.xcConfirm .popBox .btnGroup{float: right;}
.xcConfirm .popBox .btnGroup .sgBtn{margin-top: 14px; margin-right: 10px;}
.xcConfirm .popBox .sgBtn{display: block; cursor: pointer; float: left; width: 95px; height: 35px; line-height: 35px; text-align: center; color: #FFFFFF; border-radius: 5px;}
.xcConfirm .popBox .sgBtn.ok{background-color: #0095d9; color: #FFFFFF;}
.xcConfirm .popBox .sgBtn.cancel{background-color: #546a79; color: #FFFFFF;}
/*     xcConfirm 样式结束     */

/*     smartMenu 样式开始     */
.smart_menu_box{display:none; width:140px; position:absolute; z-index:201105;}
.smart_menu_body{padding:1px; border:1px solid #B8CBCB; background-color:#fff; -moz-box-shadow:2px 2px 5px #666; -webkit-box-shadow:2px 2px 5px #666; box-shadow:2px 2px 5px #666;}
.smart_menu_ul{margin:0; padding:0; list-style-type:none;}
.smart_menu_li{position:relative;}
.smart_menu_a{display:block; height:25px; line-height:24px; padding:0 5px 0 25px; color:#000; font-size:12px; text-decoration:none; overflow:hidden;}
.smart_menu_a:hover, .smart_menu_a_hover{background-color:#348CCC; color:#fff; text-decoration:none;}
.smart_menu_li_separate{line-height:0; margin:3px; border-bottom:1px solid #B8CBCB; font-size:0;}
.smart_menu_triangle{width:0; height:0; border:5px dashed transparent; border-left:5px solid #666; overflow:hidden; position:absolute; top:7px; right:5px;}
.smart_menu_a:hover .smart_menu_triangle, .smart_menu_a_hover .smart_menu_triangle{border-left-color:#fff;}
.smart_menu_li_hover .smart_menu_box{top:-1px; left:130px;}
/*     smartMenu 样式开始     */

/*     flowDesign 样式开始     */
/*根据情况调整宽高*/
/*html, body{ width:100%;height:100%;}*/
.mini-layout{width:100%;height:100%;background: rgb(58, 65, 68) url(Static/flow-design-grid.png) repeat;}

.process-step {position: absolute;cursor: move;min-width: 100px;line-height: 28px;padding: 2px 10px 4px 10px;border-radius: 3px;display: inline-block;background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);background-repeat: repeat-x;border: 1px solid #cccccc;border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);border-bottom-color: #b3b3b3;box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);text-align: center;}
.process-step span{cursor: pointer;}
.process-flag i.icon-step { width:30px;height:30px;background-color:#ff6600;display:inline-block;}
.process-flag i.icon-start{width:30px;height:30px;background-color:#ff6600;display:inline-block;}
.process-step b {font-weight: normal;}

/*颜色*/
.colors {clear: both;padding: 0px; display: inline-block;vertical-align: bottom;}
.colors ul{list-style: none; display:inline-block;margin:0px;padding:0px;}
.colors li {position: relative;float: left;width: 18px;height: 18px;margin: 2px 1px 0 0;padding:2px 2px 2px 4px;background: #000;color:#ffffff;cursor: pointer;filter: alpha(opacity=50);opacity: 0.5;-webkit-transition: opacity 0.2s;-moz-transition: opacity 0.2s;-ms-transition: opacity 0.2s;-o-transition: opacity 0.2s;transition: opacity 0.2s;}
.colors li:hover {filter: alpha(opacity=100);opacity: 1;}
.colors li.active {height: 20px;margin-top: 0;filter: alpha(opacity=75);opacity: 0.75;}
.colors li.red {background: #d54e21;}
.colors li.green {background: #78a300;}
.colors li.blue {background: #0e76a8;}
.colors li.aero {background: #9cc2cb;}
.colors li.grey {background: #73716e;}
.colors li.orange {background: #f70;}
.colors li.yellow {background: #fc0;}
.colors li.pink {background: #ff66b5;}
.colors li.purple {background: #6a5a8c;}
/*连接线提示*/
.component {opacity: 0.8;filter: alpha(opacity=80);z-index: 20;}
/*圆形*/
.circle {min-width: 100px;min-height: 100px;padding:20px;-moz-border-radius: 100px;-webkit-border-radius: 100px;border-radius: 100px;}
/*椭圆*/
.oval {min-width: 50px;min-height: 50px;padding:20px;-moz-border-radius: 100px / 50px;-webkit-border-radius: 100px / 50px;border-radius: 100px / 50px;}
/*菱形*/
.hexagon {min-width: 50px;min-height: 30px;background: #ccc;position: relative;}
.hexagon:before {content: "";position: absolute;top: -25px; left: 0;width: 0;height: 0;border-left: 50px solid transparent;border-right: 50px solid transparent;border-bottom: 25px solid #ccc;}
.hexagon:after {content: "";position: absolute;bottom: -25px; left: 0;width: 0;height: 0;border-left: 50px solid transparent;border-right: 50px solid transparent;border-top: 25px solid #ccc;}
/*     flowDesign 样式结束     */

/* 全局通用样式 */
.forbidden-text-select {
    -moz-user-select: none; /*火狐*/
    -webkit-user-select: none; /*webkit浏览器*/
    -ms-user-select: none; /*IE10*/
    user-select: none;
}

/* 框架样式 */
.frame-nav {
    position: fixed;
    width: 250px;
    height: 100%;
    background-color: #2F4050;
}
    .frame-nav > .frame-nav-scroll {
        height: 100%;
        overflow-y: auto;
    }
    .frame-nav .frame-nav-header {
        padding: 25px 25px 20px 25px;
        background-color: #233646;
    }
        .frame-nav .frame-nav-header img {
            border-radius: 50%;
            float : left;
        }
        .frame-nav .frame-nav-header .head-photo {
            clear: both;
            color: #DFE4ED;
            overflow : hidden;
        }
        .frame-nav .frame-nav-header .user-info {
            float : left;
            margin-left : 15px;
        }
            .frame-nav .frame-nav-header .user-info li {
                padding-top: 6px;
            }
            .frame-nav .frame-nav-header .user-info i {
                margin-right : 10px;
                font-size : 10px;
            }
        .frame-nav .frame-nav-header .dropdown {
            margin-top: 15px;
            cursor: pointer;
        }
        .frame-nav .frame-nav-header .role-name {
            color: #DFE4ED;
        }
        .frame-nav .frame-nav-header .dropdown-menu {
            padding: 15px 0px 15px 0px;
        }
            .frame-nav .frame-nav-header .dropdown-menu > .item {
                padding: 5px 0px;
            }
    .frame-nav .frame-nav-list {
        margin-top: 10px;
    }
        .frame-nav .frame-nav-list li.selected {
            background-color: #233646;
            padding-bottom: 15px;
            border-left: 3px solid #19aa8d;
        }
        .frame-nav .frame-nav-list a {
            padding: 15px 10px 15px 25px;
            display: block;
            color: #a7b1c2;
            font-weight: 600;
        }
        .frame-nav .frame-nav-list li.selected > a.frame-nav-trunk {
            background-color: #233646;
            color: #ffffff;
        }
        .frame-nav .frame-nav-list .frame-nav-node {
            padding: 15px 20px 0px 25px;
        }
        .frame-nav .frame-nav-list .frame-nav-ul {
            padding-left: 21px;
            display: none;
        }
        .frame-nav .frame-nav-list a:hover {
            background-color: #233646;
            color: #ffffff;
        }
        .frame-nav .frame-nav-list a i {
            margin-right: 10px;
            font-size: 11px;
        }
        .frame-nav .frame-nav-list a b {
            font-weight: normal;
            font-size: 11px;
            margin-top: 5px;
        }
.frame-content {
    margin-left: 250px;
    height: 100%;
    position:relative;
    background-color: #F3F3F4;
}
    .frame-content .frame-logo {
        clear: both;
        height: 50px;
        overflow: hidden;
        display: table-cell;
        vertical-align: middle;
    }
        .frame-content .frame-logo .expand-close {
            padding-left:10px;
        }
    .frame-content .frame-tab {
        position: relative;
        height: 45px;
        background: #fafafa;
        line-height: 41px;
        border-bottom: 2px solid #2F4050;
        border-top: 1px solid #EEEEEE;
    }
        .frame-content .frame-tab .tab-backward {
            width: 44px;
            border-right: 1px solid #EEEEEE;
            background-color: #ffffff;
            text-align: center;
        }
        .frame-content .frame-tab .tab-forward {
            width: 44px;
            border-left: 1px solid #EEEEEE;
            background-color: #ffffff;
            text-align: center;
        }
        .frame-content .frame-tab .frame-tab-scroll {
            overflow: hidden;
            height: 42px;
        }
        .frame-content .frame-tab li {
            background-color: #FAFAFA;
            border-right: 1px solid #EEEEEE;
            float: left;
        }
            .frame-content .frame-tab li.active {
                background-color: #2F4050;
                line-height: 42px;
            }
        .frame-content .frame-tab a {
            padding: 0px 15px;
            display: inline-block;
            color: #A699B2;
        }
        .frame-content .frame-tab li.active a {
            color: #ffffff;
        }
        .frame-content .frame-tab a:hover {
            background-color: #F2F2F2;
        }
        .frame-content .frame-tab li.active a:hover {
            background-color: #2F4050;
            color: #ffffff;
        }
        .frame-content .frame-tab a i {
            font-size: 10px;
            margin-left: 5px;
        }
    .frame-content .frame-iframe {
        border: 0px;
        padding: 0px;
        margin: 0px;
        background-color: #ffffff;
        position:relative;
    }

.data-content {
    margin: 0px;
    padding: 15px;
    width: 100%;
    height: auto;
    overflow: hidden;
}
    .data-content .search {
        overflow: hidden;
        padding: 15px 30px 15px 0px;
        position: fixed;
        width: 100%;
        top: 0px;
        margin: 0px;
        background-color: #ffffff;
        z-index: 9;
    }
    .data-content .list {
        margin-top: 50px;
    }
        .data-content .list .table-header {
            position: fixed;
            background-color: #ffffff;
            z-index: 9;
        }
        .data-content .list .table-body {
        }
            .data-content .list table {
                clear: both;
                margin-right:15px;
            }
                .data-content .list table thead {
                    vertical-align: middle;
                }
            .data-content .list tr {
            }
            .data-content .list th, .data-content .list td {
                text-align: left;
                padding: 10px;
                overflow: hidden;
            }
                .data-content .list .first {
                    width : 60px;
                    padding-left:21px;
                    padding-right:20px;
                }
            .data-content .list tr.odds {
                background-color: #f9f9f9;
            }
        .data-content .list .operater-edit {
            color:#5BC0DE;
        }
        .data-content .list .operater-delete {
            color: #ff0000;
        }
            .data-content .list .tree-node {
                display: inline-block;
                width: 16px;
                height: 18px;
                overflow: hidden;
                margin-right: 5px;
            }
            .data-content .list .tree-default-icon {
                background: url(Static/tree-icons.png) no-repeat 0px 3px;
            }
            .data-content .list .tree-expand-icon {
                background: url(Static/tree-icons.png) no-repeat -18px 3px;
            }
            .data-content .list .page-records {
                margin-right: 10px;
                padding-top: 6px;
            }
                .data-content .list .page-records i {
                    font-style: normal;
                    padding: 0px 5px;
                }
        .data-content .list .list-oper-button {
            padding-right : 5px;font-size:12px;
        }
        .data-content .list .list-oper-pad-button {
            margin-left : 20px; padding-right : 5px;font-size:12px;
        }
        .data-content .list .list-non-data {
            text-align:center;padding:15px 0px;
        }
        .data-content .operater {
            overflow: hidden;
            margin: 30px 0px 0px 30px;
        }
            .data-content .operater .operater-label {
                padding-bottom: 10px;
            }
    .data-content .form-label {
        width: 100px;
        text-align: left;
        font-weight: normal;
    }
    .data-content .form-cell {
        padding-left: 0px;
    }
    .data-content .form-checkbox-label {
        display: inline-block;
        margin-bottom: 0px;
        font-weight: normal;
        margin-right: 45px;
    }
    .data-content .form-radio-label {
        display: inline-block;
        margin-right: 45px;
        font-weight: normal;
        margin-bottom: 0px;
    }
    .data-content .form-file {
        position: absolute;
        overflow: hidden;
        right: 0;
        top: 0;
        opacity: 0;
    }
    .data-content .form-file-input {
        width: 500px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .data-content .form-file-link {
        position: relative;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        width: 100px;
        overflow: hidden;
    }
    .data-content .list-status-ok {
        font-style:normal;padding-left:5px;margin-right:10px;
    }
    .data-content .form-fieldset {
        padding: .35em .625em .75em;
        width: 815px;
        margin: 0px;
        padding-bottom: 15px;
        border: 1px dashed #0CA3F2;
        margin-top: -15px;
    }
    .data-content .form-legend {
        padding: .5em;
        border: 0;
        width: auto;
        margin-bottom: 0px;
    }
    .data-content .form-vote-item {
        display: none;
        width: 450px;
        padding: 40px 20px 20px 20px;
        background-color: #ffffff;
        border: 1px solid #cccccc;
        border-radius: 5px;
    }
    .data-content .version {
        clear:both;
        height: 50px;
        line-height: 50px;
        margin-bottom:30px;
        text-align : center;
    }